# DATA PREPROCESSING AND DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('RADIATION.csv')
del df["UNIXTime"]
del df["Data"]
del df["Time"]
del df["TimeSunRise"]
del df["TimeSunSet"]
df.head()

   Radiation  Temperature  Pressure  Humidity  WindDirection(Degrees)  Speed
0       1.21           48     30.46        59                  177.39   5.62
1       1.21           48     30.46        58                  176.78   3.37
2       1.23           48     30.46        57                  158.75   3.37
3       1.21           48     30.46        60                  137.71   3.37
4       1.17           48     30.46        62                  104.95   5.62

In [3]:
df.tail()

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
32681,1.22,44,30.43,102,145.42,6.75
32682,1.17,44,30.42,102,117.78,6.75
32683,1.20,44,30.42,102,145.19,9.00
32684,1.23,44,30.42,101,164.19,7.87
32685,1.20,44,30.43,101,83.59,3.37

In [4]:
df.shape

(32686, 6)

In [5]:
df.size

196116

In [6]:
df.columns

Index(['Radiation', 'Temperature', 'Pressure', 'Humidity',
       'WindDirection(Degrees)', 'Speed'],
      dtype='object')

In [7]:
df.isnull()

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
32681,False,False,False,False,False,False
32682,False,False,False,False,False,False
32683,False,False,False,False,False,False
32684,False,False,False,False,False,False
32685,False,False,False,False,False,False

In [8]:
df = df.dropna()

In [9]:
df['Humidity'].unique()

array([ 59,  58,  57,  60,  62,  64,  72,  71,  80,  85,  93,  98,  99,
        97,  96,  95,  94,  92,  91,  90,  88,  87,  86,  84,  81,  75,
        70,  63,  51,  47,  46,  48,  56,  55,  54,  53,  52,  61,  49,
        50,  45,  41,  44,  43,  40,  39,  42,  37,  34,  33,  31,  36,
        35,  38,  30,  66,  65,  68,  69,  73,  76,  77,  78,  74,  79,
        82,  89,  67,  83,  26,  29,  28,  27,  25, 100, 101,  32,  24,
        23,  22,  21,  19,  20,  15,  16,  17,  18, 102, 103,   8,  11,
        13,  14,  12], dtype=int64)

In [10]:
df.describe()

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
count,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000
mean,207.124697,51.103255,30.422879,75.016307,143.489821,6.243869
std,315.916387,6.201157,0.054673,25.990219,83.167500,3.490474
min,1.110000,34.000000,30.190000,8.000000,0.090000,0.000000
25%,1.230000,46.000000,30.400000,56.000000,82.227500,3.370000
50%,2.660000,50.000000,30.430000,85.000000,147.700000,5.620000
75%,354.235000,55.000000,30.460000,97.000000,179.310000,7.870000
max,1601.260000,71.000000,30.560000,103.000000,359.950000,40.500000

In [11]:
df.corr()

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
Radiation,1.000000,0.734955,0.119016,-0.226171,-0.230324,0.073627
Temperature,0.734955,1.000000,0.311173,-0.285055,-0.259421,-0.031458
Pressure,0.119016,0.311173,1.000000,-0.223973,-0.229010,-0.083639
Humidity,-0.226171,-0.285055,-0.223973,1.000000,-0.001833,-0.211624
WindDirection(Degrees),-0.230324,-0.259421,-0.229010,-0.001833,1.000000,0.073092
Speed,0.073627,-0.031458,-0.083639,-0.211624,0.073092,1.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32686 entries, 0 to 32685
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Radiation               32686 non-null  float64
 1   Temperature             32686 non-null  int64
 2   Pressure                32686 non-null  float64
 3   Humidity                32686 non-null  int64
 4   WindDirection(Degrees)  32686 non-null  float64
 5   Speed                   32686 non-null  float64
dtypes: float64(4), int64(2)
memory usage: 1.5 MB

In [13]:
pd.crosstab(df["Pressure"], df["Radiation"])

Radiation,1.11,1.13,1.14,1.15,1.16,1.17,1.18,1.19,1.20,1.21,...,1328.50,1349.59,1359.79,1368.35,1387.17,1410.52,1420.39,1451.41,1475.40,1601.26
Pressure,,,,,,,,,,,,,,,,,,,,,
30.19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30.20,0,0,0,0,0,0,0,0,2,2,...,0,0,0,0,0,0,0,0,0,0
30.21,0,0,0,0,0,0,1,0,2,1,...,0,0,0,0,0,0,0,0,0,0
30.22,0,0,0,0,1,0,0,0,2,3,...,0,0,0,0,0,0,0,0,0,0
30.23,0,0,0,0,0,0,1,1,7,8,...,0,0,0,0,0,0,0,0,0,0
30.24,0,0,0,0,0,5,2,8,5,5,...,0,0,0,0,0,0,0,0,0,0
30.25,0,0,0,0,2,6,3,5,11,15,...,0,0,0,0,0,0,0,0,0,0
30.26,0,0,0,0,0,0,1,2,4,3,...,0,0,0,0,0,0,0,0,0,0
30.27,0,0,0,1,0,1,1,1,2,1,...,0,0,0,0,0,0,0,0,0,0
30.28,0,0,0,1,0,1,2,3,6,9,...,0,0,0,0,0,0,0,0,0,0
30.29,0,0,0,0,1,3,3,9,13,13,...,0,0,0,0,0,0,0,0,0,0
30.30,0,0,0,0,2,4,4,9,14,12,...,0,0,0,0,0,0,0,0,0,0
30.31,0,0,0,0,1,2,3,12,11,22,...,0,0,0,0,0,0,0,0,0,0
30.32,0,0,0,0,3,1,3,8,18,18,...,0,0,0,0,0,0,0,0,0,0
30.33,0,0,0,0,0,0,7,6,19,21,...,0,0,0,0,0,0,0,0,0,0
30.34,0,0,0,6,3,7,19,22,33,37,...,0,0,0,0,0,0,0,0,0,0
30.35,1,0,0,1,2,3,6,13,25,20,...,0,0,0,0,0,0,0,0,0,0
30.36,0,2,0,1,1,5,11,12,19,28,...,0,0,0,0,0,0,0,0,0,0
30.37,0,0,1,0,2,5,11,22,36,41,...,0,0,0,0,0,0,0,0,0,0
30.38,0,0,0,1,4,7,17,31,42,45,...,0,0,0,0,0,0,0,0,0,0
30.39,0,0,1,0,4,12,30,36,54,84,...,0,0,0,0,0,0,0,0,0,0
30.40,0,0,1,6,8,11,40,70,98,132,...,0,0,0,0,1,0,0,0,0,0
30.41,0,0,0,0,4,14,24,62,117,135,...,0,0,0,0,0,0,1,0,0,0
30.42,0,0,1,1,6,23,40,76,152,179,...,0,0,0,0,0,0,0,0,0,0
30.43,0,1,0,1,7,22,53,101,140,189,...,0,0,0,0,0,0,0,1,0,0
30.44,0,0,0,8,13,29,62,138,186,224,...,0,0,0,0,0,0,0,0,0,0
30.45,0,1,0,1,5,12,38,97,151,212,...,1,1,0,0,0,0,0,0,0,0
30.46,0,0,0,3,3,16,35,102,140,191,...,0,0,0,0,0,0,0,0,0,0
30.47,0,0,0,3,6,11,22,50,95,151,...,0,0,0,0,0,0,0,0,0,1
30.48,0,0,0,1,0,2,19,25,66,76,...,0,0,0,1,0,0,0,0,1,0
30.49,0,0,0,0,2,2,4,12,38,59,...,0,0,0,0,0,1,0,0,0,0
30.50,0,0,0,1,1,4,4,20,31,49,...,0,0,1,0,0,0,0,0,0,0
30.51,0,0,0,0,0,2,0,2,11,19,...,0,0,0,0,0,0,0,0,0,0
30.52,0,0,0,0,0,0,1,1,7,3,...,0,0,0,0,0,0,0,0,0,0
30.53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30.54,0,0,0,0,0,0,1,1,1,2,...,0,0,0,0,0,0,0,0,0,0
30.55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30.56,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df["Speed"].value_counts()

Speed
5.62     4609
4.50     4503
6.75     4326
3.37     3874
7.87     3550
2.25     2777
9.00     2504
10.12    1720
1.12     1373
11.25    1084
12.37     691
0.00      492
13.50     453
14.62     251
15.75     150
16.87      88
18.00      57
19.12      35
20.25      25
24.75      17
23.62      16
21.37      11
27.00       9
29.25       9
31.50       9
25.87       9
22.50       8
32.62       7
28.12       7
30.37       6
33.75       4
36.00       3
34.87       3
37.12       2
38.25       2
39.37       1
40.50       1
Name: count, dtype: int64

In [15]:
pd.Categorical(df["Radiation"]).describe()

            counts     freqs
categories
1.11             1  0.000031
1.13             4  0.000122
1.14             4  0.000122
1.15            36  0.001101
1.16            81  0.002478
...            ...       ...
1410.52          1  0.000031
1420.39          1  0.000031
1451.41          1  0.000031
1475.4           1  0.000031
1601.26          1  0.000031

[14434 rows x 2 columns]

In [16]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
32681    False
32682    False
32683    False
32684    False
32685    False
Length: 32686, dtype: bool

In [17]:
sum(df.duplicated())

35

In [18]:
df = df.drop_duplicates()

In [19]:
sum(df.duplicated())

0